@import "tailwindcss";

/* -------- */
.header-background {
  background: linear-gradient(rgba(50, 50, 50, 0.9), rgba(50, 50, 50, 0.9)),
    url("/images/heading_background.png"); /* actual image */
  background-size: cover;
  background-position: center;
}
/* -------- */

.bg-red-primary {
  background-color: #aa0022;
}

.bg-white-primary {
  background-color: #f5f5f5;
}

/* black */
/* black */
.text-black-secondary {
  color: #222;
}

.text-black-tertiary {
  color: #333;
}

/* white */
/* white */
.text-white-secondary {
  color: #f5f5f5; /* slightly off-white */
}

.text-white-tertiary {
  color: #e5e5e5; /* softer gray-white */
}
