@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: white;
}

nav {
  background-color: #aa0022;
}

.secondary-color {
  background-color: #00448b;
}

.primary-color {
  background-color: #aa0022;
}

.primary-color-light {
  background-color: #fff4f6;
}

.primary-text-color {
  color: #aa0022;
}
.secondary-text-color {
  color: #00448b;
}
.darker-secondary-color {
  background-color: #002b55;
}

.header-container {
  background: url("../public/images/header_background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* Or contain, depending on your needs */

  position: relative;
}

.header-container::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  border-radius: 0.75rem /* 12px */;
  background-color: rgba(32, 32, 32, 0.8);
}

.banner {
  background-image: url("../public/images/ccsbldg.png");
  background-size: cover; /* Or contain, depending on your needs */
  background-repeat: no-repeat;
  background-position: 50% bottom;

  position: relative;
}

.banner::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  border-radius: 1.5rem;
  background-color: rgba(0, 68, 139, 0.9); /* Black with 50% opacity */
}
