@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: white;
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: #aa0022;
}

.secondary-color {
  background-color: #00448b;
}

.primary-color-light {
  background-color: #fff4f6;
}

.primary-text-color {
  color: #aa0022;
}
.secondary-text-color {
  color: #00448b;
}
